.l_outer_container {
  display: flex;
  justify-content: center;
}

.l_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
}

.l_container_cards {
  display: flex;
  padding: 20px;
}

.l_container_cards_img {
  /* border-radius: 20px; */
}

.l_container_cards_top {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

.l_container_cards_top--text {
  font-weight: bold;
}

.l_container a {
  text-decoration: none;
}

.l_container_cards_bottom {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}