.createSpotButton {
  background: transparent;
  cursor: pointer;
  margin: 0;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 20px;
  padding: 8px;
  height: 42px;
  font-size: 16px;
  font-weight: 500;
}

.createSpotButton:hover{
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}
