.footer-container {
  position: absolute;
  z-index: 10;
  bottom: 0;
  background-color: #009688;
  border-top: 1px solid #EBEBEB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
}


.splash-dev-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--main-fonts);
  margin-right: 20px;
  color: #FFFFFF;
  height: auto;
  padding: 20px;
}

.splash-dev-inner-text {
  margin: 0;
  color: var(--light-font-color);
  font-size: 20px;
}

.splash-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 50px;
  text-decoration: none;
}

.devLinks {
  padding-left: 10px;
  padding-right: 5px;
}