.sd_container {
  padding-left: 40px;
  padding-right: 40px;
}

.sd_header {
  display: flex;
  justify-content: space-between;
}

.sd_modify_buttons {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.sd_subtitle {
  display: flex;
  font-size: 14px;
  font-weight: 600;
}


.sd_subtitle_num_reviews,
.sd_subtitle_location {
  padding-left: 8px;
}


.sd_img_container {
  width: 100%;
  height: 480px;
  overflow: hidden;
  padding-top: 20px;
}

.sd_img_container .sd_img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.sd_info_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 32px;
  padding-left: 10px;
  padding-right: 5px;
}

.sd_info_container_left {
  grid-column-start: 1;
}

.sd_info_container_right {
  grid-column-start: 2;
}

.sd_owner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #EBEBEB;
}

.sd_owner_info {
  font-size: 1em;
  font-weight: 600;
}

.owner-prof {
  height: 54px;
  width: 56px;
}

.sd_description {
  line-height: 24px;
  font-size: 18px;
  padding-top: 32px;
  padding-bottom: 48px;
  border-bottom: 2px solid #EBEBEB;
}

.sd_reviews {
  padding-top: 32px;
  border: 5px solid red;
  border-bottom: 2px solid #EBEBEB;
}

.sd_info_container_right {
  display: flex;
  justify-content: center;
}

.sd_info_price {
  display: flex;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  width: 90%;
  height: 100px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.sd_info_pricenight {
  display: flex;
  align-items: center;
}

.sd_info_price--boldtext {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}

.sd_info_night {
  font-size: 14px;
  padding-left: 5px;
}

.sd_info_reviews {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}