.sd_outer_container{
  display: flex;
  justify-content: center;
}

.sd_container {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1400px;
  width: 1000px;
}

.sd_header {
  display: flex;
  justify-content: space-between;
}

.sd_modify_buttons {
  display: flex;
  width: 320px;
  justify-content: space-between;
  align-items: center;
}

.sd_subtitle {
  display: flex;
  font-size: 14px;
  font-weight: 600;
}


.sd_subtitle_num_reviews,
.sd_subtitle_location {
  padding-left: 8px;
}

.sd_subtitle_star {
  padding-right: 5px;
}

.sd_img_container {
  width: 100%;
  height: 480px;
  overflow: hidden;
  padding-top: 20px;
}

.sd_img_container .sd_img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  /* border-radius: 20px; */
}

.sd_info_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 32px;
  padding-left: 5px;
  padding-right: 5px;
}

.sd_info_container_left {
  grid-column-start: 1;
}

.sd_info_container_right {
  grid-column-start: 2;
  width: 100%;
}

.sd_owner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #EBEBEB;
  padding-bottom: 32px;
  padding-right: 10px;
}

.sd_owner_info {
  font-size: 1em;
  font-weight: 600;
}

.owner-prof {
  height: 54px;
  width: 56px;
}

.sd_description {
  line-height: 24px;
  font-size: 18px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 2px solid #EBEBEB;
}

.sd_reviews {
  padding-top: 32px;
  border-bottom: 2px solid #EBEBEB;
}

.sd_reviews_header {
  display: inline-flex;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}

.sd_info_container_right {
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.sd_info_price {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  /* border-radius: 10px; */
  width: inherit;
  height: auto;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
}

.sd_ipr_text_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sd_info_pricenight>p{
  margin: 15px 0;
}

.sd_info_pricenight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sd_info_price--boldtext {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

.sd_info_night {
  font-size: 14px;
  padding-left: 5px;
}

.sd_info_reviews {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.deleteButton {
  background-color: #009688;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  font-weight: 500;
  border: none;
  height: 48px;
  width: 150px;
  cursor: pointer;
}

.deleteButton:hover {
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

