* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #222222;
}

html, body {
  margin: 0;
  padding: 0;
}

.page {
  display: inline flex;
  flex-direction: column;
}

.splashContainer {
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
}
