h1 {
  font-weight: 200;
}

.spotCard {
  font-family: 'Montserrat';
  text-decoration: none;
  color: black;
}

.splashCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}