.loginButton {
  background: transparent;
  cursor: pointer;
  margin: 0;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  /* border-radius: 20px; */
  width: 77px;
  height: 42px;
  font-size: 14px;
  font-weight: 500;
}

.loginButton:hover {
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

/* Modal Styling */
.login_container {
  padding: 24px;
}


.login_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
}

.login_inputs_top {
  margin-top: 10px;
  padding: 26px 36px 10px 12px;
  border: 1px solid #DDDDDD;
  border-bottom: none;
}

.login_inputs_bottom {
  padding: 26px 36px 10px 12px;
  border: 1px solid #DDDDDD;
}

.login_button_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 120px;
}

.login_buttons {
  background-color: #009688;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  font-weight: 500;
  border: none;
  height: 48px;
  width: 100%;
  cursor: pointer;
}

.login_buttons:hover {
  cursor: pointer;
}

.login-submit-button-disabled {
  color: var(--light-font-color);
  background-color: #CECECE;
  border: none;
  height: 2.5em;
  cursor: not-allowed;
  width: 100%;
}